{% extends "::base.html.twig" %}

{% block title %}
  An Error Occurred
{% endblock %}

{% block body %}
<div class="container">

  <div class="row" style="margin-top:50px; margin-right:15px; margin-left:-10px;">
    <div class="col-md-12">
      <h4>Oops! An Error Occurred</h4>
      <p>
        Something is broken. Sorry for any inconvenience caused.
      </p>
    </div> 
  </div> 
</div> 

{% include "::footer.html.twig" %}

{% endblock %}
