{% extends "::base.html.twig" %}

{% block title %}
  Page not found
{% endblock %}

{% block body %}
<div class="container">

  <div class="row" style="margin-top:50px; margin-right:15px; margin-left:-10px;">
    <div class="col-md-12">
      <h4>Page not found</h4>
      <p>
        Unfortunately the content you're looking for isn't here. There may be a misspelling in your web address or you may have clicked a link for content that no longer exists.
      </p>
    </div> 
  </div> 
</div> 

{% include "::footer.html.twig" %}

{% endblock %}
