<div class="well">
  {% for twitto in twittos %}
    <span class="twittos">{{ twitto.user.twitterUsername }}</span>
  {% endfor %}
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" onclick="postTwittosMsg();return false;" />
    <input type="button" class="btn btn-primary" onclick="controles=true;$('#publish').click();return false;" value="Skip" /> 
  </form>
</div>
