{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Instant creation</h1>

    <form action="{{ path('instant_create' , { 'username':user.username}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('instant_list' , { 'username':user.username }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
