<div id="tweet_column">
  <div id="tweet_list"> 
    {% for tweet in reply.statuses %}
      {% include 'CosaInstantTimelineBundle:Instant:tweet_json.html.twig' with {'tweet': tweet, 'draggable': true} %}
    {% endfor %}
    {% if reply.search_metadata.next_results is defined %}
      <div>
        <button class="more_tweets_search" onclick="js_twitter_search2('{{ reply.search_metadata.next_results }}');">{% trans %}More tweets{% endtrans %}</button>
      </div>
    {% endif %}
  </div>
</div>
