<div id="tweet_column">
  <div id="tweet_list"> 
    {% for tweet in reply.statuses %}
      {% include 'CosaInstantTimelineBundle:Instant:tweet_json.html.twig' with {'tweet': tweet, 'draggable': true} %}
    {% endfor %}
  </div>
</div>
