<div id="tweet_column">
  <div id="tweet_list"> 
    {% for tweet in reply.statuses %}
      {% include 'CosaInstantTimelineBundle:Instant:tweet_json.html.twig' with {'tweet': tweet, 'draggable': true} %}
    {% endfor %}
    {% if reply.search_metadata.next_results is defined %}
      <div>
        <div class="more_tweets_search" style=" background:#f8d0c6; font-weight:500; color:#fff; line-height:20px;text-align:center;cursor:pointer;" onclick="js_twitter_search2('{{ reply.search_metadata.next_results }}');">{% trans %}More tweets{% endtrans %}</div>
      </div>
    {% endif %}
  </div>
</div>
