{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Instant "{{ instant.title }}" embed</h1>

    <a href="{{ path('instant_edit' , {'username':user.twitterUsername,'instant_title':instant.title}) }}">Back to edit</A>
{% endblock %}
