{% extends '::base.html.twig' %}

{% block body -%}
    <h1>"{{ instant.title }}" embed</h1>

    <a href="{{ path('instant_edit' , {'username':user.twitterUsername,'instant_title':instant.urlTitle}) }}">{% trans %}Back to edit{% endtrans %}</A>
{% endblock %}
