{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ instant.title }}</h1>

    <a href="{{ path('instant_view' , {'username':user.username,'instant_title':instant.title}) }}">Back</A>
{% endblock %}
