{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Instant "{{ instant.title }}" {% trans %}preview{% endtrans %}</h1>
    <div id="tweet_column2" class="block last">
      <button onclick="refreshTimeline();" style="float:right;">{% trans %}Refresh{% endtrans %}</button>
      <div class="block-title">
        {% trans %}Timeline{% endtrans %}
      </div>
      <div id="tweet_list2" class="block-content" style="height:371px;overflow-y:auto;overflow-x:hidden;">
        {% include 'CosaInstantTimelineBundle:Instant:tweetList.html.twig' with {'tweets': tweets, 'draggable': false, 'editable': false, 'instant': instant, 'off': 0, 'nb': 100} %}
      </div>
    </div>
    <a href="{{ path('instant_edit' , { 'username':user.twitterUsername, 'instant_title':instant.title}) }}">{% trans %}Back{% endtrans %}</a>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    function moreTweets(id,off,nb)
    {
      $('.more_tweets').hide();
      $.ajax({
        type: "POST",
        url: "{{path('instant_more_tweets',{instant_id:instant.id})}}",
        data: {
          'off': off,
          'nb': nb,
        }
      })
      .done(function( retour ) {
        $('#tweet_list2').append(retour);
      });
    }
    function refreshTimeline()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_refresh_timeline',{instant_id:instant.id})}}"
      })
      .done(function( retour ) {
        if(retour.retour){
          $('#tweet_list2').html(retour.html);
          var msg = $('<div class="flash-message flash-notice">{% trans %}Timeline refreshed{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
  </script>
{% endblock %}
