{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ instant.title }}</h1>

    <a href="{{ path('instant_view' , {'username':user.twitterUsername,'instant_title':instant.title}) }}">{% trans %}Back{% endtrans %}</a>
{% endblock %}
