{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Instant "{{ instant.title }}" embed</h1>

    <a href="{{ path('CosaInstantTimelineBundle_user_instant' , {'username':user.username}) }}">Back</A>
{% endblock %}
