/app/cache/*
/app/logs/*
/app/config/parameters.yml
/vendor/autoload.php
/vendor/composer/
/vendor/doctrine/
/vendor/friendsofsymfony/
/vendor/jdorn/
/vendor/jms/
/vendor/kertz/
/vendor/kriswallsmith/
/vendor/monolog/
/vendor/phpoption/
/vendor/psr/
/vendor/sensio/
/vendor/swiftmailer/
/vendor/symfony/
/vendor/twig/
/140dev/db/140dev_config.php
/140dev/db/db_config.php

