      <footer style="position:relative;">
        <div align="center">
          <table width="960" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td width="200"></td>
              <td><a href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a></td>
              <td><a href="{{ path('about') }}">{% trans %} About {% endtrans %}</a></td>
              <td><a href="{{ path('who_we_are') }}">{% trans %} Who we are {% endtrans %}</a></td>
              <td style="color:#999;">©CREATE!NSTANT2014</td>
            </tr>
          </table>
        </div>
      </footer>

