      <footer>
        <div align="center">
          <table width="80%" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td width="15%"></td>
              <td><a href="{{ path('homepage') }}">{% trans %} footer.home {% endtrans %}</a></td>
              <td><a href="{{ path('about') }}">{% trans %} footer.about {% endtrans %}</a></td>
              <td><a href="{{ path('who_we_are') }}">{% trans %} footer.who_we_are {% endtrans %}</a></td>
              <td style="color:#999;">©CREATE!NSTANT2014 - Designed and developed by <a href="http://www.cosavostra.com" style="color:#999;" target="_blank">#Cosa<span style='color: #ffffff'>Vostra</span></a> - Hosted by <a href="http://www.pilotsystems.net/who-we-are" target="_blank">Pilot Systems</a></td>
            </tr>
          </table>
        </div>
      </footer>

