<!DOCTYPE html>
<html style="background:#aaaaaa;">
  <head>
    <meta charset="UTF-8" />
    <title>!nstant | {% block title %}{% trans %}Welcome{% endtrans %}!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body style="font-size:200%;margin:auto;width: 50%;background: white;">
    <div id="webview">
      <div id="body">
        {% block body %}{% endblock %}
      </div>
      <div id="footer">
        {% block footer %}{% endblock %}
      </div>
      <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
      {% block javascripts %}{% endblock %}
    </div>
  </body>
</html>
