
#popup_alert {
  display: none; /*--masqué par défaut--*/ 
  position: fixed;
  background: #fff;
  width: 500px; 
  left: 50%;
  margin: 200px 0 0 -200px;
  z-index: 10000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.tweet_media{
  text-align: center;
  clear: both;
}

#autotwittos {
  display:none;
  padding:3px;
  border:1px solid black;
  background: white;
  overflow: auto;
  height: 400px;
  text-align: left;
  z-index: 999;
}

#autotwittos .content-box {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

#autotwittos .content-box:hover {
  background: #EFEFEF;
}

#autotwittos .content-box span.location {
  color: #75D1B3;
}

#twittosDroppable, #tweetDroppable {
  border: 1px solid #ccc;
  background-color: #fff;
}

#twittosDroppable.ui-state-hover, #tweetDroppable.ui-state-hover {
  border:1px solid #EA651D !important;
}

#flash-messages {
  position: absolute;
  left: 50%;
  margin-left: -200px;
}

.flash-message {
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.flash-notice
{
  border-color: green;
  margin: 3px 0;
  padding: 7px;
  background-color: #75d1b3;
  color: #ffffff;
}

.flash-error
{
  border-color: red;
  margin: 3px 0;
  padding: 7px;
  background-color: #f33;
  color: #fff;
}

.content-box-geo { padding:10px; border-bottom:#efefef 1px solid; background-color:#FFFFFF; padding-bottom:10px; cursor:pointer; }

.tweet_icons {
  margin-top: 0;
  margin-bottom: -20px;
}

.pre-iphone-header-full {
  color: white;
  text-align: center;
  font-weight: 500;
  line-height: 250%;
  text-transform: uppercase;
}

.pre-iphone-description-full {
    background-color: #CCCCCC;
    color: #666666;
    font-weight: 500;
    height: 20%;
    line-height: 250%;
    text-align: center;
    text-transform: none;
}

#webview #footer {
  width: 100%;
}
#webview {
  font-size: 1em;
}
#webview #tweet_list2, #webview #whotofollow_list {
  font-size: 100%;
  margin: 1em 0 3em;
}
.iconTable {
  height: 20px;
}

.tweet_icons3 {
  float: right;
  font-size: 2em;
}
.tweet_icons3 a {
  color: #CCCCCC;
}
.tweet_icons3 a:hover {
  color: #EA651D;
}

#mobile-menu {
  background-color: rgba(200, 200, 200, 0.8);
  width: 400px;
  height: 600px;
  position: fixed;
}

.clickable {
  cursor: pointer;
  color : #333333;
}
.not-clickable {
  cursor: auto;
  color : #CCCCCC;
}
.addinstant-home1 {
  cursor: pointer;
}
.arrowup {
  bottom: 0;
  right: 0;
}
.item {
  cursor: pointer;
}
.twitter_result_item .content-box {
  padding-bottom: 0;
}
#twittos .description {
  padding: 0;
}
.angle2 {
z-index: -1;
}
.help_button_header_1 {
float: right;
width: 200px;
margin-top: -8px;
margin-right: 41px;
height: 10px;
text-align: right;
}
.help_button_header_2 {background-color:#cccccc; padding:5px; color:#FFFFFF; font-size:1em; display:inline-block; width:100%; vertical-align:bottom; margin-top:0px; line-height:1.2em; }
.help_button_header_2 a{ color:#fff;padding:2px; color:#FFFFFF; display:inline-block; text-transform:uppercase; }
.help_button_header_2:hover{ background-color:#666666; }
.col-title-timeline {
    background-color: #EA651D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 5px 5px 10px;
    text-align: left !important;
    text-transform: uppercase;
}
.pagination {
    margin: 20px 0 10px 0;
    padding-right: 30px;
    text-align: right;
    width: 100%;
}

