

/* Custom general */

body 
{background: url(http://createinstant.com/images/bg.jpg) no-repeat top center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover; font-family: 'Open Sans', sans-serif; font-weight:300;line-height:1.5em !important; color:#666;background-color:#fff; text-align:justify; padding-top: 50px; padding-bottom: 20px;height:100%; font-size: 12px;}
 
html {height: 100%;}
input:focus {}
 
  textarea:focus { 
    outline: none !important;
    border-color: #ccc;
    box-shadow: 0 0 10px #ccc;
}
 
textarea { resize: none; }

a
{color:#ea651d;text-decoration:none; font-weight:500; cursor:pointer;}

a:hover,a:focus
{color:#ea651d;text-decoration:none; }

a:focus
{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px; }


.title-upper
{font-size:16px;margin:.67em 0; text-transform:uppercase; color:#676767; font-weight: 600; text-align:left!important; }

/* Footer */footer{ width:100%; background-color:#333; color:#fff; text-align:center; text-transform:uppercase; bottom:0px; padding:20px;  font-weight:300;    clear: both;
    position: fixed;
    z-index: 10;
    height: 55px;
    margin-top: -55px; }

footer a{ color:#fff; text-decoration:none; }

footer a:hover{ color:#fff; text-decoration:underlined; }
		/* ---- isotope ---- */
		.isotope{ max-width: 1200px; margin-top:-20px; text-align:left; }
		
		/* clear fix */
		.isotope:after{ content: ''; display: block; clear: both; }
		
		/* ---- .item ---- */
		.item{ float: left; width: 255px; height: 250px; background: #fff; border: 1px solid #ccc; margin-right: 30px; margin-top: 30px; }
		
		.item-article{ padding:20px; height:105px; margin-top:-30px;}
		
		.item header{height:80px !important;  }
		
		.item-last{ float: left; width: 255px; height: 250px; background: #fff; border: 2px solid #efefef; margin-top: 30px; }
		
		.in-boxes{ padding:20px;  }
		
		.description{ padding-left:20px; padding-right:20px; padding-bottom:20px; font-size:12px; font-weight:600; }
			
		.tableicons{ padding:20px; text-align:center; }
			
		.icons a{ text-decoration:none; color:#999; text-align:center; font-size:24px; }	
			
		.icons a:hover{ text-decoration:none; color:#ea651d; }
			
		.description a{ color:#ea651d; text-decoration:underline; }
		
		.description a:hover{ color:#666; text-decoration:underline; }
		
		.item:hover{ float: left; width: 255px; height: 250px; background: #f8d0c6;  margin-right: 30px; margin-top: 30px; }
		
		/* icons */
@charset "UTF-8"; @font-face {
  font-family: "untitled-font-1"; src:url("../fonts/untitled-font-1.eot"); src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-font-1.woff") format("woff"), url("../fonts/untitled-font-1.ttf") format("truetype"), url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg"); font-weight: normal; font-style: normal;  }

[data-icon]:before {
  font-family: "untitled-font-1" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "untitled-font-1" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[class^="icon-"]:before,
[class*=" icon-"]:before a:hover {
  text-transform: none !important; text-decoration:none; }

.icon-arrow-l {
  content: "a"; vertical-align:bottom; color:#333; display:inline-block; border-right: #ccc 1px solid; border-bottom: #ccc 1px solid; height:25px; width:10%; text-align:center;background-color:#ffffff; margin:0px;padding:0px; }
.icon-arrow-r {
  content: "b"; vertical-align:bottom; color:#333; display:inline-block; border-right: #ccc 1px solid; border-bottom: #ccc 1px solid; height:25px; width:10%; text-align:center; background-color:#ffffff;margin:0px;padding:0px; }

.icon-arrow-l:before {
  content: "a"; vertical-align:bottom; color:#333; display:inline-block; }
.icon-arrow-r:before {
  content: "b"; vertical-align:bottom; color:#333; display:inline-block; }

.icon-search:before {
  content: "k"; background-color:#ea651d;  color:#FFFFFF; }
.icon-search-adv:before {
  content: "l"; background-color:#ccc; color:#FFFFFF; }
.icon-save:before {
  content: "a"; font-size:18px; }
.icon-arrow-d:before {
  content: "b"; }
  
  .icon-search-adv-close:before {
  content: "v";
}
.icon-geo:before {
  content: "k";
}
.icon-arrow-l:before {display:inline-block; content: "a"; }
.icon-arrow-r:before {display:inline-block; content: "b"; }
.icon-arrow-u:before {
  content: "c"; }
.icon-close:before {
  content: "d"; vertical-align:middle;}
  .icon-close {
  content: "d"; }
.icon-comment:before {
  content: "e"; }
  
  .icon-search-adv-close:before {
  content: "v";
}

.icon-view:before {
  content: "g"; }
.icon-search:before {
  content: "k"; }
.icon-search-adv:before {
  content: "l"; }
.icon-embed:before {
  content: "j"; }
.icon-arrow-d:before {
  content: "q"; }
.icon-publish:before {
  content: "n"; font-size:16px; }
.icon-saving:before {
  content: "p"; font-size:16px; }
.icon-start:before {
  content: "f"; font-size:16px; vertical-align:middle; }
.icon-trashing:before {
  content: "h"; }
.icon-edit:before {
  content: "i"; }
.icon-plus:before {
  content: "m"; font-size:16px; vertical-align:middle; }
.icon-previewing:before {
  content: "n"; font-size:16px; vertical-align:middle; }
.icon-publish:before {
  content: "p"; font-size:16px; vertical-align:middle; }
.icon-saving:before {
  content: "r"; font-size:16px; vertical-align:middle; }
  
  .icon-tweet-add:before {
  content: "j";
}
.icon-tweet-fav:before {
  content: "o";
}
.icon-search-1:before {
  content: "M";
}

.icon-search-adv-1:before {
  content: "N";
}
.icon-tweet-reply:before {
  content: "s";
}
.icon-tweet-retweet:before {
  content: "t";
}
.icon-tweet-retweet:before {
  content: "j"; 
}
.icon-tweet-add:before {
  content: "o";
}
.icon-tweet-fav:before {
  content: "s";
}
.icon-tweet-reply:before {
  content: "t";
}
.icon-tweet-retweet:before {
  content: "u";
}


.icon-z-fb:before {
  content: "l";
}
.icon-z-in:before {
  content: "w";
}
.icon-z-rss:before {
  content: "x";
}
.icon-z-tw:before {
  content: "y";
}




		/* Log */
		
		.log{ float:right; background-color:#ffffff; border:#efefef 1px solid; padding:20px; margin-top:-38px; margin-right:30px; }
		
		img.twitter-img{ border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; width:30px; height:25px; padding-right:5px; }
			
		.tweet_image{ width:30px; }
		
		.tweet-name{ padding-right:20px; padding-left:10px; }
		
		.user_info{ width:500px; }
		
		.log a{ color:#ea651d; text-decoration:none; }
		
		.log a:hover{ color:#ea651d; text-decoration:underline; }

/* Home */

.angle 
{width:139px; height:99px; background-image: url('../images/angle.png'); position:absolute; margin-top:-80px; background-repeat:no-repeat; }

.home-text{ font-size:22px; font-weight:300; color:#999; line-height:28px; font-family:'Open Sans'; margin-top:20px; }

img.home-logo{ width:100%; }

img.home-iphone{ padding-left:30px; margin-top:-5px; float:right; }

img.home-plus{ padding-right:12px; filter: none; -webkit-filter: grayscale(0); }



/* Page 02 */


.angle2 
{width:139px; height:99px; background-image: url('../images/angle.png'); position:absolute; margin-top:-80px; background-repeat:no-repeat; }

img.logo2{ width:150px; margin-top:-20px; }

.logo2{ width:500px; float:left; }

.addinstant { margin-right:30px; float:right; margin-top:-16px; background-color:#75d1b3; width:255px; text-align:center; padding:10px;color:#FFFFFF; text-decoration:none; text-transform:uppercase;   font-size:18px; vertical-align: middle; cursor:pointer;}
.addinstant a{ color:#fff; }
.addinstant:hover{ background-color:#cccccc; }

.arrowup{ float:right; position: absolute; bottom:40px; right:60px; z-index:10; }

.sorting-box a{ padding:10px; border:#ccc 1px solid; text-transform:uppercase; font-size:12px; color:#666;background-color:#ffffff; }

.sorting-box a:hover{ padding:10px; border:#ccc 1px solid; text-transform:uppercase; font-size:12px; color:#666; background-color:#efefef; text-decoration:none; }



/* Page 03 */
.editable-title{ width:590px; position:absolute; margin-left:175px; margin-top:-58px; }
.editable-title2{ width:590px; border:#efefef 1px solid; resize: none; overflow:hidden; }
.editable-title3{ width:590px; border:#efefef 1px solid; background-color:#efefef; resize: none; overflow:hidden; margin-top:-6px; }

.logo3{ float:left; width:73px; margin-top:-40px; }

.col-title{ font-size:16px;text-transform:uppercase; color:#676767; background-color:#efefef; padding:5px 5px 5px 10px; font-weight: 600; text-align:left!important; }

.content-box .twitter-img{ width:30px; height:25px; padding-right:5px; }

.content-box .icons a{ text-decoration:none; color:#999; text-align:center; font-size:22px; }
.content-box .icons a:hover{ text-decoration:none; color:#ea651d; }	
.content-box2 .icons a{ text-decoration:none; color:#999; text-align:center; font-size:22px; }
.content-box2 .icons a:hover{ text-decoration:none; color:#ea651d; }	

.content-box { padding:20px; border-bottom:#efefef 1px solid; background-color:#FFFFFF; padding-bottom:30px; text-align:left;}
.content-box2 { padding:20px; border-bottom:#fff 1px solid; background-color:#efefef; }
.content-box .photo{ background:url(http://createinstant.com/images/photo.jpg) no-repeat center center; width:205px; height:100px; margin-top:10px; }

.all-the-rest { overflow:hidden;}

.sorting-wrap2{ width:90%; height:25px; text-align:center; border-bottom:#ccc 1px solid; display:inline-block; vertical-align: middle !important; text-transform:uppercase; font-size:10px; }
.sorting-box2{ display:inline-block; vertical-align: middle !important; text-transform:uppercase; font-size:10px; height:20px;}


form{ height:100%; vertical-align:middle; margin:0px; padding:0px; }
.search-input{ width:60%; height:25px; padding:0px; vertical-align:top; display:inline-block; margin:0px;  border-bottom:#ccc 1px solid;}

.icon-search-1{ width:10%; height:25px; padding-top:4px; vertical-align:top; display:inline-block;  background-repeat:no-repeat;background-position: center;background-color:#ea651d; color:#FFFFFF; vertical-align: middle;text-align:center;margin:0px;}

.icon-search-adv-1{ width:10%; height:25px; padding-top:4px;vertical-align:top; display:inline-block;  background-repeat:no-repeat;background-position: center;background-color:#ccc; color:#FFFFFF; vertical-align: middle;text-align:center; font-size:18px; margin:0px;}

.icon-search-adv-close{ width:10%; height:25px; padding-top:4px;vertical-align:top; display:inline-block;  background-repeat:no-repeat;background-position: center;background-color:#ccc; color:#FFFFFF; vertical-align: middle;text-align:center; font-size:18px; margin:0px; }


.search-button02{ width:10%; height:25px; padding:0px; vertical-align:top; display:inline-block; background-image:url(../images/search-adv.png); background-position: center; background-repeat:no-repeat; border:#ccc 2px solid; background-color:#ccc; }

.search-box .icon-close{ vertical-align:middle; color:#333; display:inline-block; padding-top:5px;border-bottom:#ccc 1px solid; background-color:#FFFFFF; font-size:14px;height:25px; width:10%; text-align:center;display:inline-block; border-left:#ccc 1px solid;}

.search-box{ height:auto; vertical-align:top; padding:0px !important; }

input:focus{
outline:none; }
select:focus{
outline:none; }
#search-adv{ margin-top:0px; }

#Languages{width:100%; font-size:12px; color:#666;background-color:#ffffff;padding:0px; margin-top:0px; border-bottom:#ccc 1px solid;}
select {

      border:#ccc 0px solid; border-radius:0px; -webkit-appearance: none; /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('../images/dropdown-arrow.png') no-repeat; /*Adds background-image*/
      background-position: 95% 5px; /*Position of the background-image*/
      width: 100px; /*Width of select dropdown to give space for arrow image*/
      text-indent: 10px; /* Removes default arrow from firefox*/
      text-overflow: ""; /*Removes default arrow from firefox*/
	  height:25px; /*My custom style for fonts*/

      color: #1455a2; }

.geolocation-input{ width:90%; height:25px; padding:0px; vertical-align:top; display:inline-block; margin:0px;  border-bottom:#ccc 1px solid;}
	 
.geo-go { width:10%; height:25px; padding-top:4px;vertical-align:top; display:inline-block; background-color:#ccc;  vertical-align: middle;text-align:center; font-size:10px; margin:0px;}
.geo-go a{color:#FFFFFF;}
.geo-go:hover { background-color:#666;}

.geolocation-input .icon-geo{ height:25px;font-size:22px; line-height:20px !important; vertical-align:middle; margin-left:5px;}
	  
.button01{ background-color:#ea651d; padding:5px 5px 5px 10px; width:49%; color:#FFFFFF; text-decoration:none; text-transform:uppercase;   font-size:10px; vertical-align: middle; float:right; }
.button01:hover{ background-color:#cccccc; color:#FFFFFF; text-decoration:none !important; text-transform:uppercase;   font-size:10px; }

.button02{ background-color:#cccccc; padding:5px 5px 5px 10px; width:100%; color:#FFFFFF; text-decoration:none; text-transform:uppercase;   font-size:10px; vertical-align: middle; }
.button02:hover{ background-color:#666; color:#FFFFFF; text-decoration:none !important; text-transform:uppercase;   font-size:10px; }

.button03{ background-color:#cccccc; padding:5px 5px 5px 10px; width:32.5%; color:#FFFFFF; text-decoration:none; text-transform:uppercase;   font-size:10px; vertical-align: middle; display:inline-block; }
.button03:hover{ background-color:#666; }

.button04{ background-color:#75d1b3; padding:5px 5px 5px 10px; width:32.5%; color:#FFFFFF; display:inline-block; text-decoration:none; text-transform:uppercase;   font-size:10px; vertical-align: middle; }
.button04:hover{ background-color:#ccc; }

.button05{ background-color:#cccccc; padding:5px 5px 5px 10px; width:49%; color:#FFFFFF; text-decoration:none; text-transform:uppercase;   font-size:10px; vertical-align: middle; display:inline-block; }
.button05:hover{ background-color:#666; }
.button05 a{color:#fff;}

.add-input{ width:80%; height:25px; padding:0px; vertical-align:top; display:inline-block; margin:0px;  border:#ccc 1px solid; background-color:#FFFFFF;display:inline-block;}
.button06{ width:20%; height:25px; padding-top:4px;vertical-align:top; display:inline-block;  background-repeat:no-repeat;background-position: center;background-color:#ccc; color:#FFFFFF; vertical-align: middle; font-size:18px; margin:0px; color:#FFFFFF; text-decoration:none; text-transform:uppercase;   font-size:10px; vertical-align: middle;}
.button06:hover{ background-color:#666; }

.wtf{ vertical-align:top; font-weight:300px; padding:5px !important; font-size:12px; }

/* Preview */
.preview
{ color:#ea651d; font-style:italic; font-size:0.8em; }

.all-the-rest-pre { height:360px; top:0px; overflow-y: scroll; overflow-x:hidden;   }

.all-the-rest-pre2 { height:360px; top:0px; overflow-y: scroll; overflow-x:hidden;   }

.iphone-pre { padding-top:110px; margin-left:3px;}

.all-pre { background-color:#fff; width:251px; margin:0 auto; height:433px; background:none;overflow:hidden; position:relative;
}

.all-pre ::-webkit-scrollbar {
    width: 0px;
}
 
.all-pre ::-webkit-scrollbar-track {
    -webkit-box-shadow: 0; 
    border-radius: 0px;
}
 
.all-pre ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: 0; 
}


.col-title-pre { height:75px; font-weight:500; margin-left:5px;}
.pre-iphone-header { background-color:#40413f; height:35px;  }
.pre-iphone-menu { background: url(../images/pre-menu.png); width:40px; height:35px; float:left; }
.pre-iphone-logo { background: url(../images/pre-logo.png); width:35px; height:35px; float:right; }
.pre-iphone-title { background-color:#ea651d; height:20px; text-transform:uppercase; color:#FFFFFF; text-align:center; font-size:10px; line-height:18px;}
.pre-iphone-nav { background-color:#ccc; height:20px; font-size:10px; text-transform:uppercase; color:#FFFFFF; line-height:25px; text-align:center; }

.pre-iphone-nav-tab1 {height:20px; text-transform:uppercase; color:#333; line-height:20px; text-align:center; width:50%; float:left; margin-top:20px; vertical-align: middle; /*border-right: 20px solid #ea651d; border-bottom: 20px solid transparent; ¨*/}
.pre-iphone-nav-tab2 {  height:20px; text-transform:uppercase;  line-height:20px; text-align:center; width:50%; float:right;margin-top:20px;  z-index:999;}

.tweet_name { color:#999; font-size:9px;}
.tweet_date { color:#999; font-size:9px; }
.tweet_time { color:#999; font-size:9px; float:right;}
.tweet_icons,.tweet_icons p,.tweet_icons2{ border-top: 1px solid #efefef; width:100%; margin-top:-20px;padding-top:5px;padding-bottom:0px !important; line-height:0.5em;}
.tweet_icons span {color:#999; font-size:22px; padding:0px 12px 0px 12px;color:#ccc;width:100%;}
.tweet_icons span:hover,.tweet_icons2 span:hover{ color:#ea651d; }
.tweet_icons2 span{ padding:0px !important; margin-top:-25px; color:#999; font-size:22px; float:right;color:#ccc;width:100%;}

.content-box-pre .twitter-img{ width:30px; height:25px; padding-right:5px; }

p.tweet_icons{ margin-bottom:0px; padding-bottom:0px; }

.content-box-pre .icons a{ text-decoration:none; color:#999; text-align:center; font-size:18px; }
.content-box-pre .icons a:hover{ text-decoration:none; color:#ea651d; }	
.content-box2-pre .icons a{ text-decoration:none; color:#999; text-align:center; font-size:18px; }
.content-box2-pre .icons a:hover{ text-decoration:none; color:#ea651d; }	

.content-box-pre { padding:20px; border-bottom:#ccc 1px solid; background-color:#FFFFFF; width:241px; margin:0 auto;padding-bottom:10px; font-size:10px; line-height:16px; font-weight:500;}
.content-box2 { padding:20px; border-bottom:#fff 1px solid; background-color:#efefef; }

.content-box-pre .photo{ background:url(http://createinstant.com/images/photo.jpg) no-repeat center center; width:205px; height:70px; margin-top:10px;}

.pre-iphone-footer { margin-top:-40px; background-color:#333; position:fixed; height:40px; width:245px; left:50%; margin-left:-123px;font-size:10px; text-align:right;}
.pre-iphone-footer1{background-color:#ccc; width:245px; padding:2px;color:#333; font-weight:500; padding-right:5px; }
.pre-iphone-footer2{width:245px; padding:2px;font-weight:500; padding-right:5px; margin-top:-8px; }


/* Preview Full*/

.all-the-rest-pre-full { overflow: hidden; padding-bottom:80px;padding-top:110px;background-color:#fff;  }

.all-the-rest-pre-full2 { display:none; padding-bottom:80px;padding-top:110px; background-color:#fff; }


.all-pre-full ::-webkit-scrollbar {
    width: 0px;
}
 
.all-pre-full ::-webkit-scrollbar-track {
    -webkit-box-shadow: 0; 
    border-radius: 0px;
}
 
.all-pre-full ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: 0; 
}


.col-title-pre-full {  }
.pre-iphone-header-full { height:20%; background-color:#333; width:100%; }
.pre-iphone-menu-full {float:left; height:20%; }
.pre-iphone-logo-full { float:right; }
.pre-iphone-title-full { height:20%; background-color:#ccc; text-align:center; line-height:250%; text-transform:uppercase; font-weight:500; }
.pre-iphone-nav-full { }

.pre-iphone-nav-tab1-full {color:#333;background:#fff; float:left; width:50%;text-align:center; line-height:250%; text-transform:uppercase; font-weight:500;}
.pre-iphone-nav-full2 { color:white;background:#ea651d; float:right; width:50%;text-align:center; line-height:250%; text-transform:uppercase; font-weight:500; }


.content-box-pre-full { border-bottom: 1px solid #ccc; padding-bottom:5px; padding-top:15px; padding-left:20px; padding-right:20px; }


.pre-iphone-footer-full {position:fixed; bottom:0px; background-color:#333; color:#FFFFFF; text-align:right; width:50%; left:25%; right:25%;  }
.pre-iphone-footer1-full{background-color:#666; width:100%;padding-right:10px; line-height:2em;}
.pre-iphone-footer2-full{ width:100%;padding-right:10px; line-height:2em;}

/* Embed */
.button-rss { background:#ffcc66; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; width:32%; margin-right:1%; vertical-align:top; margin-top:20px;}
.button-rss a{ padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }
.button-rss:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block;   }

.button-twitter { background:#90c8db; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; width:23.5%; margin-right:1%; vertical-align:top; margin-top:20px;}
.button-twitter a{ padding:5px; color:#FFFFFF; font-size:18px; display:inline-block;   }
.button-twitter:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }

.button-facebook { background:#507bbe; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; width:23.5%; vertical-align:top; margin-top:20px;}
.button-facebook a{ padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }
.button-facebook:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }

.button-back { margin-top:50px; border:#efefef 1px solid; display: inline-block; font-size:18px; vertical-align:top; padding:5px;color:#333; float:left;}
.button-back a{ padding:5px; font-size:18px; display:inline-block;color:#333;  }
.button-back:hover{ background:#efefef; padding:5px; color:#333; font-size:18px; display:inline-block; }

.button-home { border:#efefef 1px solid; display: inline-block; font-size:18px; vertical-align:top; padding:5px;color:#333; float:right; background:#FFFFFF; margin-right:30px; margin-top:-40px;}
.button-home a{ padding:5px; font-size:18px; display:inline-block;color:#333;  }
.button-home:hover{ background:#efefef; padding:5px; color:#333; font-size:18px; display:inline-block; }


/* Profile */
.profile-img {border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; width:100%; height:100%; padding-right:5px;  }

figure {
    position: relative;
	width:100%;
    display: inline-block;
}

figcaption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
	width:98%;
    right: 0;
    background-color: #ccc;
	color:#FFFFFF;
	padding:5px;
	text-align:center;
	
}

figcaption a{
	color:#FFFFFF;
}

figcaption a:hover{
	color:#FFFFFF;
}

figure:hover img {
    opacity: .7;
}

figure:hover figcaption {
    display: block;
}

.button-linkedin-pro { background:#006599; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; width:31%; margin-right:1%; vertical-align:top; margin-top:20px;}
.button-linkedin-pro a{ padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }
.button-linkedin-pro:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block;   }

.button-twitter-pro { background:#90c8db; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; width:31%; margin-right:1%; vertical-align:top; margin-top:20px;}
.button-twitter-pro a{ padding:5px; color:#FFFFFF; font-size:18px; display:inline-block;   }
.button-twitter-pro:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }

.button-facebook-pro { background:#507bbe; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; width:31%; margin-right:1%; vertical-align:top; margin-top:20px;}
.button-facebook-pro a{ padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }
.button-facebook-pro:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:18px; display:inline-block; }

.item-pro{ width: 100%; background: #fff; border-bottom: 2px solid #efefef; padding-bottom:20px;}
.item-pro-article{ padding:20px; margin-top:-30px;}
.item-pro .title-upper a{ color:#ea661c; font-weight:600;}

.pro-contact{ width:99%; height:25px; padding-left:5px; vertical-align:top; display:inline-block; margin-left:10px;  border:#ccc 1px solid; background:#FFFFFF;}

form .button02{ background-color:#cccccc; padding:5px; width:99%; border:none;color:#FFFFFF; margin-left:10px; text-decoration:none; text-transform:uppercase;font-size:10px; vertical-align: middle; margin-top:5px; }
form .button02:hover{ background-color:#666; color:#FFFFFF; text-decoration:none !important; text-transform:uppercase;   font-size:10px; }

.col-md-5{ border-left:#efefef 1px solid; padding:20px;}

/* Confirmation */
.well { background:#efefef; border-radius:0px;-webkit-box-shadow:0px;box-shadow:0px;margin-bottom:0;}

.conf-contact{ width:50%; height:25px; padding-left:5px; vertical-align:top; display:inline-block; margin-left:5px;  border:#ccc 1px solid; background:#FFFFFF; margin-top:-5px;}

.well .button04{ background-color:#75d1b3; padding:4px 5px 5px 5px; width:20%; color:#FFFFFF; display:inline-block; text-decoration:none; text-transform:uppercase; margin-top:-5px; font-size:10px; vertical-align: middle; margin-left:10px; height:25px; border:0px;}
.well .button04:hover{ background-color:#ccc; }

.message-to-twittos{ width:50%; height:100px; padding-left:5px; vertical-align:top; display:inline-block; border:#ccc 1px solid; background:#FFFFFF;}

/*
  Menu
*/
nav#slide-menu {
	position: fixed;
	top: 0;
	left: -100px;
	bottom: 0;
	display: block;
	float: left;
	width: 100%;
	max-width: 284px;
	height: 100%;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	> ul {
		display: block;
		margin: 40px;
		padding: 0;
		list-style: none;
		opacity: 0.5;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;

		li {
			color: #dfe5eb;
			padding: 6px 0;
			cursor: pointer;

			&:hover { color: #59e9df; }
		}

		li:before {
			font-family: "ico";
			font-style: normal;
			font-weight: normal;
			speak: none;
			display: inline-block;
			text-decoration: inherit;
			width: 1em;
			color: #59e9df;
			margin-right: 12px;
			text-align: center;
			font-variant: normal;
			font-size: 0.75em;
			text-transform: none;
			line-height: 1em;
		}

		li.sep { 
			margin-top: 7px; 
			padding-top: 14px; 
			border-top: 1px solid lighten(#556270, 10%); 
		}

		li.timeline:before { content: '\e805'; }
		li.events:before { content: '\e802'; }
		li.calendar:before { content: '\e800'; }
		li.settings:before { content: '\e803'; }
		li.logout:before { content: '\e804'; }
	}
}

body.menu-active nav#slide-menu { left: 0px; }
body.menu-active nav#slide-menu ul { left: 0px; opacity: 1; }


/*
  Content
*/

div#content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px;
	overflow: scroll;
	background: #fcfeff;
	border-radius: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-moz-box-shadow: -3px 0 6px darken(#556270, 5%);
	-webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
	box-shadow: -3px 0 6px darken(#556270, 5%);

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	div.menu-trigger {
		position: fixed;
		top: 10px;
		left: 10px;
		width: 36px;
		height: 36px;
		background: #dfe5eb;
		cursor: pointer;
		border-radius: 5px;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;

		&:before { 
			content: '\e801';
			display: inline-block;
			width: 36px;
			height: 36px;
			color: black;
			font-family: "ico";
			font-style: normal;
			font-size: 1.2em;
			font-weight: normal;
			font-variant: normal;
			text-align: center;
			text-transform: none;
			line-height: 36px;
		}

		&:hover { background: #556270; &:before { color: #fcfeff; } }
	}
}

body.menu-active div#content { left: 284px; border-radius: 7px 0 0 7px; }
body.menu-active div#content .menu-trigger { left: 294px; }

.button-twitter-home {background:#28a9e0; padding:5px; color:#FFFFFF; font-size:1.1em; display:inline-block; width:220px; margin-right:1%; vertical-align:bottom; margin-top:20px; line-height:2em; cursor:pointer; }
.button-twitter-home a{ padding:5px; color:#FFFFFF; font-size:1.1em; display:inline-block; text-transform:uppercase; }
.button-twitter-home:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:1.1em; display:inline-block; }

.addinstant-list { height: 248px; color:#75d1b3; font-size:2.5em; display:inline-block;vertical-align:middle; line-height:1.5em; float:right; text-align:center; }
.addinstant-list a{ color:#75d1b3;padding-top:50px; font-size:1.1em; display:inline-block; text-transform:uppercase; }
.addinstant-list:hover{ background-color:#efefef; }

.addinstant-list .icon-plus:before {content: "m"; font-size:2em; vertical-align:middle; }


/* Home 1st time */
/* NEW */
.addinstant-home1 {background-color:#75d1b3; width: 255px; height: 250px; margin-right: 30px; color:#FFFFFF; font-size:2.5em; display:inline-block;vertical-align:middle; line-height:1.5em; float:right; text-align:center; }
.addinstant-home1 a{ color:#fff;padding:5px; padding-top:50px;color:#FFFFFF; font-size:1.1em; display:inline-block; text-transform:uppercase;font-weight:600; }
.addinstant-home1:hover{ background-color:#cccccc; }

.addinstant-home1 .icon-plus:before {content: "m"; font-size:2em; vertical-align:middle; }

.home1-text {  font-size:3em; line-height:1.5em; text-align:left; }

.arrow-home1 { float:right; }

/* Edit 1st time */ 
.edit-first {color:#ccc; padding:20px; } 
 
.help-button {background-color:#efefef; padding:5px; color:#FFFFFF; font-size:1em; display:inline-block; width:100%; vertical-align:bottom; margin-top:20px; line-height:1.2em; } 
.help-button a{ color:#fff;padding:2px; color:#FFFFFF; display:inline-block; text-transform:uppercase; } 
.help-button:hover{ background-color:#cccccc; } 


/* Responsive */

@media screen and (max-width:990px){ footer
{display:none!important}}

@media screen and (max-width:1200px){ img.home-logo
{width:100%; }
img.home-iphone
{width:95%; }}

@media screen and (max-width:770px){ img.home-logo
{width:100%; }}

@media screen and (max-width:440px){ .title-upper-all{ line-height:30px; text-align:left; }
}


@media (max-width:640px)
{ 
.item{ float: left; width: 95%!important; height: 200px; background: #fff; border: 2px solid #efefef; margin-right: 30px; margin-top: 30px; }
.item:hover{ float: left; width: 95%!important; height: 200px; background: #f8d0c6; border: 2px solid #efefef; margin-right: 30px; margin-top: 30px; }
}

@media (max-width:800px)
{ .angle2{display:none; }
}



@media (max-width:990px){ img.home-iphone{ display:none; }
body{ background: url(http://createinstant.com/images/bg.jpg) no-repeat bottom center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.btn {width:95%; position:absolute; margin:0px; }

}

@media (max-width:767px){ .navbar-form .form-group {margin-bottom:5px}
img.home-iphone{ display:none; }

}


@media (max-width:1252px){ 

.button03 { width:32%; font-size:9px;}
.button04 { width:32%;font-size:9px; }
img.logo2{ margin-left:35px; }
.container2{width:90%!important; margin-left: 4%!important;
margin-right: 5%!important; }
.editable-title{ width:390px; margin-left:35px;position:absolute; margin-left:175px; margin-top:-58px; }
.editable-title2{ width:550px; margin-left:35px;border:#efefef 1px solid; resize: none; overflow:hidden; }
.editable-title3{ width:550px; margin-left:35px;border:#efefef 1px solid; background-color:#efefef; resize: none; overflow:hidden; margin-top:-6px; }

}

@media (max-width:1199px){ 
select { background-position: 95% 5px; /*Position of the background-image*/ }
.editable-title2{ width:390px; margin-left:0px;border:#efefef 1px solid; resize: none; overflow:hidden; }
.editable-title3{ width:390px; margin-left:0px;border:#efefef 1px solid; background-color:#efefef; resize: none; overflow:hidden; margin-top:-6px; }
img.logo2{ margin-left:0px; }
.search-box{ height:auto; vertical-align:top; padding:0px !important; width:100%; }

.angle2 { left:-30px !important; }

.content-box .photo{ width:180px; height:100px; }

.button03 { width:32%; font-size:9px; }
.button04 { width:32%;font-size:9px; }

.icon-previewing:before {
  content: "n"; font-size:12px; vertical-align:middle; }
.icon-publish:before {
  content: "p"; font-size:12px; vertical-align:middle; }
.icon-saving:before {
  content: "r"; font-size:12px; vertical-align:middle; }
  
.button-rss { background:#ffcc66; padding:5px; color:#FFFFFF; font-size:16px; display:inline-block; width:32%; margin-right:1%; vertical-align:top; margin-top:20px;}
.button-rss a{ padding:5px; color:#FFFFFF; font-size:16px; display:inline-block; }
.button-rss:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:16px; display:inline-block;   }

.button-twitter { background:#90c8db; padding:5px; color:#FFFFFF; font-size:16px; display:inline-block; width:32%; margin-right:1%; vertical-align:top; margin-top:20px;}
.button-twitter a{ padding:5px; color:#FFFFFF; font-size:16px; display:inline-block;   }
.button-twitter:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:16px; display:inline-block; }

.button-facebook { background:#507bbe; padding:5px; color:#FFFFFF; font-size:16px; display:inline-block; width:32%; vertical-align:top; margin-top:20px;}
.button-facebook a{ padding:5px; color:#FFFFFF; font-size:16px; display:inline-block; }
.button-facebook:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:16px; display:inline-block; }

.button-back { margin-top:50px; border:#efefef 1px solid; display: inline-block; font-size:16px; vertical-align:top; padding:5px;color:#333; float:left;}
.button-back a{ padding:5px; font-size:16px; display:inline-block;color:#333;  }
.button-back:hover{ background:#efefef; padding:5px; color:#333; font-size:16px; display:inline-block; }

.button-home { border:#efefef 1px solid; display: inline-block; font-size:16px; vertical-align:top; padding:5px;color:#333; float:right; background:#FFFFFF; margin-right:30px; margin-top:-40px;}
.button-home a{ padding:5px; font-size:16px; display:inline-block;color:#333;  }
.button-home:hover{ background:#efefef; padding:5px; color:#333; font-size:16px; display:inline-block; }

.addinstant-home1 { width:100%; margin-right:0px; text-align: center; }

}



@media (max-width:991px){ .item{ float: left; width: 45%; height: 250px; background: #fff; border: 2px solid #efefef; margin-right: 30px; margin-top: 30px; }
.profile-img {border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; width:30%; height:30%; padding-right:5px;  }

.col-md-5{ border-left:#efefef 0px solid; padding:10px;}
  
.item:hover{ float: left; width: 45%; height: 250px; background: #f8d0c6; border: 2px solid #efefef; margin-right: 30px; margin-top: 30px; }

.iphone-pre { margin-top:80px; }

.addinstant{ margin-right:45px; }
.container2{ margin-top:110px!important; width:97%!important; margin-left: 1%!important;
margin-right: 2%!important; }

.icon icon-close { width:10%; background-color:#ccc; }
select { background-position: 95% 5px; /*Position of the background-image*/ }

.editable-title{ width:700px; position:absolute; margin-left:0px; margin-top:58px; }
.editable-title2{ width:700px; border:#efefef 1px solid; resize: none; overflow:hidden; }
.editable-title3{ width:700px; border:#efefef 1px solid; background-color:#efefef; resize: none; overflow:hidden; margin-top:-6px; }

.log{ margin-right:20px; margin-top:-45px;}

.search-box{ height:auto; vertical-align:top; padding:0px !important; width:100%; }

.button-rss { background:#ffcc66; padding:5px; color:#FFFFFF; font-size:10px; display:inline-block; width:32%; margin-right:1%; vertical-align:top; margin-top:40px;}
.button-rss a{ padding:5px; color:#FFFFFF; font-size:10px; display:inline-block; }
.button-rss:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:10px; display:inline-block;   }

.button-twitter { background:#90c8db; padding:5px; color:#FFFFFF; font-size:10px; display:inline-block; width:32%; margin-right:1%; vertical-align:top; margin-top:40px;}
.button-twitter a{ padding:5px; color:#FFFFFF; font-size:10px; display:inline-block;   }
.button-twitter:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:10px; display:inline-block; }

.button-facebook { background:#507bbe; padding:5px; color:#FFFFFF; font-size:10px; display:inline-block; width:32%; vertical-align:top; margin-top:40px;}
.button-facebook a{ padding:5px; color:#FFFFFF; font-size:10px; display:inline-block; }
.button-facebook:hover{ background:#ccc; padding:5px; color:#FFFFFF; font-size:10px; display:inline-block; }

.button-back { margin-top:50px; border:#efefef 1px solid; display: inline-block; font-size:16px; vertical-align:top; padding:5px;color:#333; float:left;}
.button-back a{ padding:5px; font-size:16px; display:inline-block;color:#333;  }
.button-back:hover{ background:#efefef; padding:5px; color:#333; font-size:16px; display:inline-block; }

.button-home { border:#efefef 1px solid; display: inline-block; font-size:16px; vertical-align:top; padding:5px;color:#333; float:right; background:#FFFFFF; margin-right:30px; margin-top:-40px;}
.button-home a{ padding:5px; font-size:16px; display:inline-block;color:#333;  }
.button-home:hover{ background:#efefef; padding:5px; color:#333; font-size:16px; display:inline-block; }


.col-md-6{ margin-top:80px; text-align:left;}

.col-md-3{ margin-top:80px; }

.button03 { width:32%; }
.button04 { width:32%; }

.content-box .photo{ width:170px; height:70px; background-position:center left; }
	
.addinstant:hover{ filter: url(filters.svg#grayscale); /* Firefox 3.5+ */filter: gray; /* IE5+ */-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */}

.arrow-home1 {display:none; }

}

@media (max-width:730px){ .addinstant{ margin-top:20px; float:left; background-color:#75d1b3; width:95%; text-align:center; padding:10px; }

.isotope{ max-width: 1200px; margin-top:30px; }

.log{ margin-top:20px; float:left; text-align:left; width:95%; font-size:12px; }

.editable-title{ width:95%; position:absolute; margin-left:0px; margin-top:120px; }
.editable-title2{ width:95%; border:#efefef 1px solid; resize: none; overflow:hidden; }
.editable-title3{ width:95%; border:#efefef 1px solid; background-color:#efefef; resize: none; overflow:hidden; margin-top:-6px; }

.button03 { width:100%; font-size:9px; margin-top:5px; }
.button04 { width:100%;font-size:9px;margin-top:5px; }

}
