{% extends "::base.html.twig" %}

{% block title %}
  {% trans %}About{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">

  <div class="row" style="margin-top:50px; margin-right:15px; margin-left:-10px;">
    <div class="col-md-12">
      <h4>{% trans %}About Instant{% endtrans %}</h4>
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae gravida enim. Vestibulum sit amet mattis enim, nec iaculis orci. Maecenas non mauris commodo, tristique velit eu, aliquam arcu. Cras porta turpis est, id aliquam sapien scelerisque ac. Ut fringilla venenatis bibendum. Donec orci mauris, tincidunt nec consectetur eu, rhoncus ut nisl. Donec in enim quis quam elementum luctus. Praesent ullamcorper sem ullamcorper, rutrum nunc id, lobortis nibh. Donec faucibus augue nec aliquam hendrerit. Aenean a semper ipsum. Fusce ornare purus eu elit imperdiet ullamcorper.
      </p>
      <p>
Mauris ut ornare est. Cras ac metus lectus. Curabitur nunc magna, venenatis in lorem sit amet, eleifend accumsan nunc. Sed rhoncus, felis vitae pharetra fermentum, ipsum dolor varius erat, ut dignissim dolor lacus a mauris. Duis laoreet faucibus libero, at ullamcorper lacus eleifend ac. Nam et sagittis ipsum. Quisque tellus ligula, vulputate vitae dolor at, pharetra suscipit augue. Curabitur ac pharetra justo, quis hendrerit ligula. Mauris cursus euismod suscipit. Ut gravida eros eget volutpat accumsan. In pharetra interdum velit, vel commodo ante iaculis non. Nulla euismod et tellus eu ullamcorper. Nullam urna massa, consectetur sed ipsum id, consequat faucibus urna. Quisque fringilla non neque nec viverra.
      </p>
      <p>
Phasellus bibendum magna ac dui posuere gravida. Quisque faucibus quam et viverra condimentum. Vivamus quis gravida neque. In eget fermentum sem. Fusce blandit vulputate nulla sagittis dapibus. Etiam iaculis mauris in elit convallis vestibulum. Proin in pharetra tellus. Phasellus quis malesuada velit, euismod vestibulum mi. Aliquam ornare imperdiet diam, eu posuere est pharetra vel. Curabitur libero mi, vestibulum at felis nec, porta tincidunt nunc. Proin tempor neque tempus semper tristique. Aliquam at nulla vitae nisl bibendum porttitor. Nullam rutrum iaculis ornare. Vivamus laoreet consequat massa sed ultrices. Suspendisse potenti.
      </p>
      <p>
Etiam eu felis non enim euismod mattis eu mollis urna. Quisque in ipsum eu lorem mattis aliquet non vel tellus. Sed eleifend, est non interdum pharetra, sem lorem posuere ante, ut aliquam libero lacus id eros. Sed enim quam, tempus vitae enim ultricies, varius volutpat dui. Nullam molestie nunc quis consectetur fermentum. Curabitur eget nisi nec tortor pretium pharetra et in tortor. Suspendisse id leo sem. Proin enim ligula, commodo at semper non, auctor eu ipsum. Etiam blandit mollis est sed egestas.
      </p>
      <p>
Suspendisse id metus sit amet ante tempus interdum eleifend sit amet arcu. Praesent mattis pellentesque iaculis. Proin quis dictum enim, vel adipiscing lacus. Curabitur varius adipiscing dapibus. Morbi tempor tincidunt elit eu faucibus. Nullam sit amet suscipit enim. Aliquam scelerisque facilisis magna non interdum. Proin vitae massa sed elit imperdiet tempor tristique eu arcu. Nullam sit amet lobortis tortor, at mattis ligula. Morbi molestie hendrerit magna at gravida. 
      </p>
    </div> 
  </div> 
</div> 

{% include "::footer.html.twig" %}

{% endblock %}
