{% extends "::base.html.twig" %}

{% block title %}
  {% trans %}About{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">

  <div class="row" style="margin-top:50px; margin-right:15px; margin-left:-10px;">
    <div class="col-md-12">
      <h4>{% trans %}About Instant{% endtrans %}</h4>
      <p>
        Instant is a new way to blablabla. Lorem ipsum sqdfmljm.
      </p>
    </div> 
  </div> 
</div> 

{% include "::footer.html.twig" %}

{% endblock %}
