{% extends "::base.html.twig" %}
{% block body %}
  <h1>Email confirmation</h1>
  {% if app.security.token.user.email != '' and app.security.token.user.email!=app.security.token.user.twitterID %}
    <a href="#" onclick="$('#email_form').slideToggle();">Edit your email</a>
  {% endif %}
  <div id="email_form" style="display:{% if app.security.token.user.email == '' or app.security.token.user.email==app.security.token.user.twitterID %}block{% else %}none{% endif %};"
    <h1>Please set your email</h1>
    {{ render(controller('CosaInstantUserBundle:Default:setEmailTmp',{'username':app.security.token.user.twitterUsername})) }}
    <h2>Then</h2>
  </div>
  <h1>Confirm it</h1>
  <span>Check your email box and open the confirmation link...</span>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    function postEmail(){
      $.ajax({
        type: "POST",
        url: "{{path('set_email_tmp')}}",
        data: {
          'form[email]': $('#form_email').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Confirmation email sent !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">An error has occured !</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
    }
  </script>
{% endblock %}
