{% extends "::base.html.twig" %}

{% block title %}
  {% trans %}Email confirmation{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">

  <div class="row" style="margin-top:50px; margin-right:15px; margin-left:-10px;">
    <div class="col-md-7">
  {% if app.security.token.user.email == '' or app.security.token.user.email==app.security.token.user.twitterID %}
      <div>
          <h4>{% trans %}Please set your email{% endtrans %}</h4>
          <span>A confirmation link will then be sent to you.</span>
    {{ render(controller('CosaInstantUserBundle:Default:setEmailTmp',{'username':app.security.token.user.twitterUsername})) }}
      </div> 
  {% endif %}
  {% if app.security.token.user.email != '' and app.security.token.user.email!=app.security.token.user.twitterID %}
      <div>
          <h4>Please confirm!</h4>
          <span>Your e-mail has been set, please click on the link sent to you to confirm it.</span>
          <br/>
          <br/>
          <span>You can modify your e-mail or resent the confirmation message.</span>
    {{ render(controller('CosaInstantUserBundle:Default:setEmailTmp',{'username':app.security.token.user.twitterUsername})) }}
      </div> 
  {% endif %}
    </div> 
  </div> 
</div> 
<br/>
<br/>
<br/>
<br/>
{% include "::footer.html.twig" %}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    function postEmail(){
      $('#ajax-loader').css("visibility", "visible");
      $.ajax({
        type: "POST",
        url: "{{path('set_email_tmp')}}",
        data: {
          'form[email]': $('#form_email').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Confirmation email sent{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">{% trans %}An error has occured{% endtrans %} !</div>');
        }
        //$('#flash-messages').append(msg);
        $('#ajax-loader').css("visibility", "hidden");
        window.location.reload(true);
        //msg.delay(3000).fadeOut(1000);
      });
    }
  </script>
{% endblock %}
