{% extends "::base.html.twig" %}

{% block title %}
  {% trans %}who we are{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">

  <div class="row" style="margin-top:50px; margin-right:15px; margin-left:-10px;">
    <div class="col-md-12">
      <h4>{% trans %} who_we_are.title01{% endtrans %}</h4>
      <p>{% trans %} who_we_are.text01{% endtrans %}</p>
      <p>{% trans %} who_we_are.text02{% endtrans %}</p>
      <p>{% trans %} who_we_are.text03{% endtrans %}</p>
      <p>{% trans %} who_we_are.text04{% endtrans %}</p>
      <p>{% trans %} who_we_are.text05{% endtrans %}</p>
      <p>{% trans %} who_we_are.text06{% endtrans %}</p>
    </div> 
  </div> 
</div> 

{% include "::footer.html.twig" %}

{% endblock %}

