{% extends "base.html.twig" %}

{% block body %}
  {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
    <a href="{{ path('connect_twitter')}}">{% trans %}Signup with Twitter{% endtrans %}</a>
  {% else %}
    welcome {{app.security.token.user}}
    <a href="{{ path('cosa_instant_user_logout') }}">{% trans %}Logout{% endtrans %}</a>
  {% endif %}
{% endblock %}
